body {
  background-color:rgb(72, 166, 243); 
}

.list {
  text-align: center;
}

.trelloList{
  height: auto;
  width: 100%;
  display:-webkit-box;
}

.doList{
  margin: 20px;
  border: 20px;
  background-color: silver;
  height: auto;
  width: 300px;
}

.todo-item{
  background-color:snow;
  height: auto;
  width: 90%;
  margin-left: 5%;
  height: auto;
  border: 1px solid black;
}

.delete-item{
  border: none;
  font-size: 10px;
  height: 15px;
  cursor: pointer;
  float:right
}

p{
  height: auto;
  width: 90%;
  margin: 0 5% 0 5%;
}